 form {
      border: 1px solid rgb(14, 13, 13);
      border-radius: 0.3em;
      padding: 0.3em;
      width: 1000px;
  }
  form input, form button {
    background-color: whitesmoke;
      font-size: 0.8em;
      border-radius: 0.1em;
      border: none;
      padding: 0.2em;
  }

  form input {
      width: 98%;
  }

  form button 
    {cursor: pointer;
    background: none;
    color: whitesmoke;
      float: left;     
  }
  #inicio div img{ 
    height: 180px;
    width: 200px;
  }

 

  nav ul li {
    display: inline-block;
    padding: 40px;
  }

nav menu {
  padding: 0;
}
nav ul li a {
  color: gray;
  text-decoration: none;
}

nav ul li a:hover {
  border-bottom: 4px solid black;
  font-weight: bold;
  color: gray;
}
#rodapé h3 {
  color: rgb(255, 255, 255);
 
}

#rodapé li{
  color: whitesmoke;
}
#rodapé ul {
  color: #ff0000;
}

#rodapé ul li{
  text-decoration: none;
  list-style-type: none;
  
}
#rodapé ul li a {
  color: gray;
}

 #europeu div h2 {
   text-align:start;
   font-size: 25px;
 }
	#europeu div p {
    text-align: start;
  }


  #europeu2 div h2 {
    text-align:start;
    font-size: 25px;
  }
   #europeu2 div p {
     text-align: start;
 }


 #brasileirao div h2 {
  text-align:start;
  font-size: 25px;
}
 #brasileirao div p {
   text-align: start;
   }


   #brasileirao2 div h2 {
    text-align:start;
    font-size: 25px;
  }
   #brasileirao2 div p {
     text-align: start;}


     #selecao div h2 {
      text-align:start;
      font-size: 25px;
    }
     #selecao div p {
       text-align: start;}


       #selecao2 div h2 {
        text-align:start;
        font-size: 25px;
      }
       #selecao2 div p {
         text-align: start;}